src/main/mule/cicd-jenkins-mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7eff95e4-4fbb-44b5-826b-edb40c72e9be" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-jenkins-muleFlow" doc:id="1a429623-07c3-49a8-aeba-fa7af44c1844" >
		<http:listener doc:name="Listener" doc:id="00526970-4ca9-4681-b06d-cb86ce85fcab" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name='"hello this is mule"' doc:id="111af2af-03cb-4105-97fd-ec3c790b0f80" message='"hello this is mule"'/>
		<set-payload value='#["helloo integrating with jenkins hello hhhhhhhhhh"]' doc:name="Set Payload" doc:id="f6cf384d-71da-46f0-b895-5056baf2d8dc" />
	</flow>
</mule>
